
<!-- http://jqueryui.com/accordion/#collapsible -->

<div class ='container'><div class = 'row'>			<% @users.each do |user| %> 
			<div class="col-s-4">	
			<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example

	 	
			<h3><%= user.full_name%></h3>
			<p><a href ="mailto:"<%= user.email%>><%= user.email%></a></p>

			<p><span class= "alegreya subhead">Zip:</span> <%= user.zip%></p>

				<h4><%= user.full_name%>'s Cats</h4>

				  <% user.cats.each do |cat| %>

						<p><span class= "alegreya subhead">Name:</span> <%= cat.catName %></p>
						<p><span class= "alegreya subhead">Breed:</span> <%= cat.breed %></p>
						<p><span class= "alegreya subhead">Description:</span> <%= cat.description %></p>
						<p><span class= "alegreya subhead">Quirks:</span> <%= cat.quirks %></p>
		<!-- 	<hr> -->
					<% end %>
		</div>
		  </div>
</div>
		<% end %>	</div></div>




 