<div class='form-box'>
  <div class='row'>

    <div class='col-xs-12'>

      <h2> User Profile For: <%= @user.full_name%></h2>
      <p>email: <%= @user.email%></p>

      <p>zip: <%= @user.zip%></p>
      <% if @user == current_user %>
      <p><%= link_to "Edit Profile", edit_user_path(current_user) %></p>
      <% end %>
      <hr>
     




  <h2>My cats</h2>
<% @user.cats.each do |cat| %> 

  
    <h1><%= cat.catName %></h1>
   <% if @user == current_user %>
    <p><%= link_to "Go to #{cat.catName}", cat_path(cat) %></p>
    <% end %>
      <p><%= cat.catHuman %></p>
      <p><%= cat.breed %></p>
      <p><%= cat.description %></p>
      <p><%= cat.quirks %></p>
      <% if cat.user.present? %>
        <small><%= cat.user.email %></small>
      <% end %>
    
 

    <blockquote>
  <% cat.photos.each do |photo| %> 
      <% if photo.present? %>
      <%= image_tag photo.picfile, :class=> 'photo' %> 
      <br>
      <%= photo.caption %>
      <% end %>
  <% end %>
   
    </blockquote>
</div>

<% end %>
   
  

     
  </div> 
</div>  