<div class='form-box'>
  <div class='row'>

    <div class='col-xs-12'>

      <h2> User Profile For: <%= @user.full_name%></h2>
      <p>email: <%= @user.email%></p>

      <p>zip: <%= @user.zip%></p>
      <hr>
     




  <h2>My cats</h2>
<% @user.cats.each do |cat| %> 
  
    <h1><%= link_to cat.catName, cat_path(cat) %></h1>
      <p><%= cat.catHuman %></p>
      <p><%= cat.breed %></p>
      <p><%= cat.description %></p>
      <p><%= cat.quirks %></p>
      <% if cat.user.present? %>
        <small><%= cat.user.email %></small>
      <% end %>
    
    <% if cat.photos.present? %>

    <blockquote>
      <% if cat.photos.last.present? %>
        <b><%= cat.photos.last %></b> -
      <% end %><br>
    <%= image_tag photo.picfile, :class=> 'photo' %> 
   <br>
        <%= photo.caption %>
      <small><%= cat.photos.last.user.email %></small>
    </blockquote>
</div>
<% end %>
<% end %>
   
  

     
  </div> 
</div>  