

<div class="nested-fields">
<%= f.input :catName %>
<%= f.input :breed %>
<p>
Description
<%= f.text_area :description %>
</p>
<p>
Quirks o kitteeeeeeee
<%= f.text_area :quirks %>
</p>
   <%= link_to_remove_association "remove cat", f %>


<button class='btn btn-primary-custom pull-right'><%= link_to "Done no more kitties to add!", root_path %></button>
</div>