<!DOCTYPE html>
<html>
<head>
  <title>Catsit</title>
  <%= stylesheet_link_tag    "application", media: "all"  %>
      <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Alegreya+SC:400,700italic" %>
     <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Lato:400,400italic,700" %>
     <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Alegreya:400,700" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
       <%= link_to root_path do %>

      <%= image_tag("swappaws-lg.png", :alt => "swappaws", :class => 'img-responsive logo') %>
    
      <% end %>
      <span class='tagline visible-lg visible-md visible-sm'>swappaws<% if current_page?('/users')%> : neighbors who swap<% end %></span>
   
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<!-- <ul class="nav nav-stacked navbar-nav navbar-right"> -->
      <ul class="nav nav-stacked navbar-right">
<% if user_signed_in? %>
  <li><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></li>
  <li><%= link_to  'edit your profile', edit_user_path(current_user) %></li> 
  <li><%= link_to  'your profile', user_path(current_user) %></li> 

  <li><%= link_to  'catsit neighbors', users_path %></li> 
<%else%>
  <li><%= link_to 'sign in', new_user_session_path %></li>
  <li><%= link_to 'sign up', new_user_registration_path %></li>
<%end%>


     
      
    
      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if alert.present? %>
<span class="alert"><%= alert %></span> 
<%end%>

<%= yield %>


      <div id="footer">
        <div class="container">
          <p >Footer</p>
        </div>
      </div>

</body>
</html>
